<div class="text-center">
  <h1>ALL ABOUT TIM</h1>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>GitHub Repo</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

      <div class="text-center">
        <a href="#" class="button">Learn More</a>
      </div>
    </p>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>GitHub Repo</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

      <div class="text-center">
        <a href="#" class="button">Learn More</a>
      </div>
    </p>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Philly Weather</h3>
    <canvas id="icon1" width="64" height="64"></canvas>
    <div id="temperature"></div>
    <div id="conditions"></div>
  </div>
</div>
